/* styles.css */
body {
    background-color: #333;
    color: #dfd7d7;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 36px;
    margin-top: 20px;
    color: #5b99db;
  }

  button {
    background-color: #326499;
    color: #e9e9cb;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 30%;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: #0056b3;
  }

  p {
    font-size: 18px;
  }

  canvas {
    display: block;
    margin: 20px auto;
    background-color: #444;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

    button.selected {
        background-color: #749dc9;
    }
